<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/hmes98318/Music-Disc/main/public/imgs/html/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/static/css/components/container.css">
    <link rel="stylesheet" type="text/css" href="/static/css/components/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.page.css">
</head>

<body>
    <div class="container">
        <div class="sidebar-left">
            <a href="/dashboard" class="current-page">Dashboard</a>
            <a href="/localnode">Local Node</a>
            <a href="/logs">Logs</a>
            <a href="/nodeslist">Nodes List</a>
            <a href="/serverlist">Servers List</a>
        </div>

        <div class="content">
            <div class="botdetails">
                <h2>System Information</h2>
                <ul>
                    <li>Music Disc: <span id="info_bot_version"></span></li>
                    <li>Node.js: <span id="info_node_version"></span></li>
                    <li>Discord.js: <span id="info_dc_version"></span></li>
                    <li>LavaShark: <span id="info_shark_version"></span></li>
                    <li>OS: <span id="info_os_version"></span></li>
                    <li>CPU: <span id="info_cpu"></span></li>
                    <li>Startup time: <span id="info_startupTime"></span></li>
                </ul>

                <h2>Statistics</h2>
                <ul>
                    <li>Server: <span id="stat_server"></span></li>
                    <li>Playing: <span id="stat_playing"></span></li>
                </ul>

                <h2>Status</h2>
                <ul>
                    <li>Uptime: <span id="status_uptime"></span></li>
                    <li>CPU: <span id="status_load_percent"></span><span id="status_load_detail"></span></li>
                    <li>RAM: <span id="status_memory_percent"></span><span id="status_memory_detail"></span></li>
                    <li>HEAP: <span id="status_heap_percent"></span><span id="status_heap_detail"></span></li>
                    <li>Ping: <span id="status_ping_api"></span></li>
                </ul>
            </div>
        </div>
    </div>
</body>


<script src="/static/js/lib/socket.io-4.7.2.min.js"></script>

<script src="/static/js/utils/formatBytes.js"></script>
<script src="/static/js/utils/msToTime.js"></script>
<script src="/static/js/utils/timestampToTime.js"></script>

<script src="/static/js/components/navbar.js"></script>
<script src="/static/js/components/footer.js"></script>
<script src="/static/js/dashboard.page.js"></script>

</html>