/*----- Dashboard -----*/

/* 覆蓋掉 container.css 的 content */
.content {
    flex: 1;
    /* Allow vertical scrolling */
    overflow-y: auto;
    max-height: 100vh;
    background-color: #36393f;
    color: #ffffff;
}

/*----- Bot info -----*/

.botdetails {
    margin-bottom: 200px;
    padding-left: 10%;
    padding-right: 10%;
}

li {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    margin-right: 10px;
    color: #7289da;
}

#status_load_detail,
#status_memory_detail,
#status_heap_detail {
    opacity: 0.7;
    color: #7289da;
    font-weight: normal;
}

/*----- END Bot info -----*/

/*----- END Dashboard -----*/