/*----- Local Node -----*/

/* 覆蓋掉 container.css 的 content */
.content {
    flex: 1;
    padding: 20px;
    /* Allow vertical scrolling */
    overflow-y: auto;
    max-height: 80vh;
    background-color: #36393f;
    color: #ffffff;
}

/*----- 節點活動狀態 -----*/

.active-status {
    background-color: #43b581;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.inactive-status {
    background-color: #f04747;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

/*----- END 節點活動狀態 -----*/

/* Log 區域 */
#logs-container {
    max-height: 400px;
    overflow-y: auto;
    background-color: #2a2d31;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 40px;
}

/*----- 控制按鈕 -----*/

#control-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#control-buttons button {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#control-buttons button:hover {
    background-color: #677bc4;
}


#restart-btn,
#stop-btn {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart-btn:hover,
#stop-btn:hover {
    background-color: #677bc4;
}

#restart-btn:disabled,
#stop-btn:disabled {
    background-color: #555;
    cursor: not-allowed;
    transition: none;
}

#restart-btn:disabled:hover,
#stop-btn:disabled:hover {
    background-color: #555;
}

/*----- 按鈕回傳狀態 -----*/

.result-succeed {
    background-color: #43b581;
    color: #ffffff;
    padding: 10px;
    /* 邊框半徑 */
    border-radius: 5px;
    display: inline-block;
}

.result-failed {
    background-color: #f04747;
    color: #ffffff;
    padding: 10px;
    /* 邊框半徑 */
    border-radius: 5px;
    display: inline-block;
}

/*----- END 按鈕回傳狀態 -----*/

/*----- END 控制按鈕 -----*/

/*----- END Local Node -----*/

/* 留空介面 */
#empty-container {
    margin-bottom: 80px;
}
